# Case

In this task not all data will be used, only **data in 2017**. So it is necessary to do filtering at the beginning. Besides that there are some players who make team transfers in the NBA transfer market so that there is **duplication of player data**. Therefore you can use the **df.drop_duplicates()** syntax to solve this to produce the same output as the trainer. **Delete columns that have as many missing values as the entire row of data**. Then you can do additional pre-processing if needed or you can immediately process the data.  

Column Descriptions: https://www.basketball-reference.com/about/glossary.html

# Data Import

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
raw_df = pd.read_csv("https://raw.githubusercontent.com/Syukrondzeko/Fellowship-5/main/Seasons_Stats.csv")

In [2]:
# Get only Year 2017 data
df = raw_df[raw_df["Year"]==2017].reset_index(drop=True)
df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,0.724,0.144,1.9,7.1,4.5,5.5,1.7,0.6,8.3,15.9,NaN,1.2,0.9,2.1,0.095,NaN,-0.3,-2.2,-2.5,-0.1,134.0,341.0,0.393,94.0,247.0,0.381,40.0,94.0,0.426,0.531,44.0,49.0,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,0.529,0.353,3.9,18.0,11.0,4.9,1.2,2.0,9.7,16.8,NaN,0.5,0.5,0.9,0.082,NaN,-1.8,-1.2,-3.0,-0.1,70.0,170.0,0.412,37.0,90.0,0.411,33.0,80.0,0.413,0.521,45.0,60.0,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,0.412,0.176,4.6,15.2,9.7,0.0,0.0,0.0,9.8,20.0,NaN,-0.2,0.0,-0.1,-0.133,NaN,-10.1,-6.0,-16.2,-0.2,5.0,17.0,0.294,1.0,7.0,0.143,4.0,10.0,0.400,0.324,2.0,3.0,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,0.542,0.373,3.8,18.2,11.1,5.4,1.3,2.2,9.6,16.5,NaN,0.6,0.5,1.1,0.102,NaN,-1.1,-0.7,-1.8,0.0,65.0,153.0,0.425,36.0,83.0,0.434,29.0,70.0,0.414,0.542,43.0,57.0,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,0.002,0.392,13.0,15.5,14.2,5.4,1.8,2.6,16.0,16.2,NaN,3.3,3.1,6.4,0.130,NaN,-0.7,1.2,0.5,1.5,374.0,655.0,0.571,0.0,1.0,0.000,374.0,654.0,0.572,0.571,157.0,257.0,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

# Data Preprocessing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 53 columns):
Unnamed: 0    595 non-null int64
Year          595 non-null float64
Player        595 non-null object
Pos           595 non-null object
Age           595 non-null float64
Tm            595 non-null object
G             595 non-null float64
GS            595 non-null float64
MP            595 non-null float64
PER           595 non-null float64
TS%           593 non-null float64
3PAr          593 non-null float64
FTr           593 non-null float64
ORB%          595 non-null float64
DRB%          595 non-null float64
TRB%          595 non-null float64
AST%          595 non-null float64
STL%          595 non-null float64
BLK%          595 non-null float64
TOV%          593 non-null float64
USG%          595 non-null float64
blanl         0 non-null float64
OWS           595 non-null float64
DWS           595 non-null float64
WS            595 non-null float64
WS/48         595 non-null float64
blank2        0 non-null float64
OBPM          595 non-null float64
DBPM          595 non-null float64
BPM           595 non-null float64
VORP          595 non-null float64
FG            595 non-null float64
FGA           595 non-null float64
FG%           593 non-null float64
3P            595 non-null float64
3PA           595 non-null float64
3P%           549 non-null float64
2P            595 non-null float64
2PA           595 non-null float64
2P%           590 non-null float64
eFG%          593 non-null float64
FT            595 non-null float64
FTA           595 non-null float64
FT%           571 non-null float64
ORB           595 non-null float64
DRB           595 non-null float64
TRB           595 non-null float64
AST           595 non-null float64
STL           595 non-null float64
BLK           595 non-null float64
TOV           595 non-null float64
PF            595 non-null float64
PTS           595 non-null float64
dtypes: float64(49), int64(1), object(3)
memory usage: 246.5+ KB

From what I know, a column with TOT value is not a team. It is the total status of a person cumulatively. Therefore, these rows could be removed, because I only need the status of players from a speciic team.

In [4]:
df = df[df["Tm"]!="TOT"]

In [5]:
# Drop duplicate names
df.drop_duplicates(inplace=True)

# Drop columns with 0 row
df = df.drop(['Unnamed: 0','blanl','blank2'],axis=1).reset_index(drop=True)

# Fill missing value with mean
df = df.fillna(df.mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 50 columns):
Year      542 non-null float64
Player    542 non-null object
Pos       542 non-null object
Age       542 non-null float64
Tm        542 non-null object
G         542 non-null float64
GS        542 non-null float64
MP        542 non-null float64
PER       542 non-null float64
TS%       542 non-null float64
3PAr      542 non-null float64
FTr       542 non-null float64
ORB%      542 non-null float64
DRB%      542 non-null float64
TRB%      542 non-null float64
AST%      542 non-null float64
STL%      542 non-null float64
BLK%      542 non-null float64
TOV%      542 non-null float64
USG%      542 non-null float64
OWS       542 non-null float64
DWS       542 non-null float64
WS        542 non-null float64
WS/48     542 non-null float64
OBPM      542 non-null float64
DBPM      542 non-null float64
BPM       542 non-null float64
VORP      542 non-null float64
FG        542 non-null float64
FGA       542 non-null float64
FG%       542 non-null float64
3P        542 non-null float64
3PA       542 non-null float64
3P%       542 non-null float64
2P        542 non-null float64
2PA       542 non-null float64
2P%       542 non-null float64
eFG%      542 non-null float64
FT        542 non-null float64
FTA       542 non-null float64
FT%       542 non-null float64
ORB       542 non-null float64
DRB       542 non-null float64
TRB       542 non-null float64
AST       542 non-null float64
STL       542 non-null float64
BLK       542 non-null float64
TOV       542 non-null float64
PF        542 non-null float64
PTS       542 non-null float64
dtypes: float64(47), object(3)
memory usage: 211.8+ KB

In [6]:
# Data statistics
df.describe()

,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,542.0,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.00000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000
mean,2017.0,26.409594,48.226937,22.693727,1096.684502,12.753137,0.525917,0.320057,0.272948,4.949446,15.206458,10.084317,12.837269,1.541144,1.669188,12.85963,18.546494,1.197786,1.114022,2.313653,0.073993,-1.557934,-0.376384,-1.936162,0.552952,177.234317,387.667897,0.440154,43.815498,122.555351,0.301048,133.418819,265.112546,0.484788,0.493019,80.964945,104.898524,0.739512,46.025830,151.505535,197.531365,102.690037,34.968635,21.557196,60.697417,90.313653,479.249077
std,0.0,4.296125,26.458110,27.874062,846.016611,6.193087,0.096562,0.213726,0.218833,4.243254,7.613033,5.265733,9.200927,1.003720,1.898942,5.59935,5.600810,2.000775,1.067841,2.819014,0.086051,3.605813,2.128583,4.392956,1.381359,171.327023,364.981918,0.105150,53.455936,140.943112,0.133118,139.249374,269.796103,0.113556,0.106146,104.930646,128.664342,0.145801,55.399167,144.620898,193.597974,129.619634,32.213660,27.946467,60.786472,66.760569,476.730465
min,2017.0,19.000000,1.000000,0.000000,1.000000,-35.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-1.700000,0.000000,-0.800000,-0.473000,-26.700000,-7.100000,-26.900000,-1.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.0,23.000000,24.000000,0.000000,314.000000,9.600000,0.500000,0.162250,0.158000,1.800000,10.300000,6.200000,6.225000,1.025000,0.500000,9.60000,14.600000,0.000000,0.200000,0.200000,0.036000,-3.000000,-1.800000,-3.900000,-0.100000,36.250000,89.250000,0.399000,2.000000,8.000000,0.273000,25.000000,53.250000,0.444000,0.463000,12.000000,17.250000,0.674500,8.000000,35.000000,42.500000,17.000000,8.000000,3.000000,14.000000,29.000000,98.000000
50%,2017.0,26.000000,55.000000,8.000000,1024.000000,12.800000,0.536000,0.331000,0.235000,3.400000,13.900000,8.950000,10.100000,1.400000,1.200000,12.45000,18.100000,0.500000,0.800000,1.400000,0.082000,-1.350000,-0.400000,-1.650000,0.000000,134.000000,301.500000,0.442000,22.000000,71.500000,0.332500,88.000000,184.000000,0.489500,0.500000,44.500000,63.000000,0.758000,25.000000,119.500000,151.500000,58.000000,27.500000,12.000000,43.000000,86.000000,361.500000
75%,2017.0,29.000000,73.000000,40.000000,1763.250000,15.775000,0.575750,0.458000,0.339000,7.600000,19.075000,13.100000,17.500000,1.900000,2.300000,15.60000,21.400000,1.700000,1.700000,3.375000,0.115000,0.100000,0.900000,0.300000,0.800000,264.750000,587.500000,0.486500,68.750000,193.750000,0.375000,200.750000,390.250000,0.537000,0.537000,105.750000,136.000000,0.832000,61.000000,216.000000,286.500000,138.750000,52.000000,29.000000,89.000000,139.750000,706.750000
max,2017.0,40.000000,82.000000,82.000000,3048.000000,31.500000,0.820000,1.000000,2.000000,26.300000,100.000000,56.400000,57.300000,11.100000,20.200000,43.60000,41.700000,11.500000,6.000000,15.000000,0.480000,11.800000,12.000000,15.600000,12.400000,824.000000,1941.000000,1.000000,324.000000,789.000000,1.000000,730.000000,1421.000000,1.000000,1.000000,746.000000,881.000000,1.000000,345.000000,817.000000,1116.000000,906.000000,157.000000,214.000000,464.000000,263.000000,2558.000000

# Tasks

## Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

In [7]:
# Get max and min age for each team
team_max_min_age = df.groupby('Tm')['Age'].agg(MaxAge=('Max Age', 'max'), MinAge=('Min Age', 'min')).reset_index()
team_max_min_age

     Tm  MaxAge  MinAge
0   ATL    36.0    22.0
1   BOS    31.0    20.0
2   BRK    36.0    21.0
3   CHI    35.0    21.0
4   CHO    31.0    21.0
5   CLE    38.0    21.0
6   DAL    38.0    21.0
7   DEN    36.0    19.0
8   DET    34.0    20.0
9   GSW    36.0    20.0
10  HOU    34.0    20.0
11  IND    32.0    20.0
12  LAC    39.0    19.0
13  LAL    37.0    19.0
14  MEM    40.0    20.0
15  MIA    36.0    20.0
16  MIL    39.0    19.0
17  MIN    34.0    20.0
18  NOP    33.0    20.0
19  NYK    32.0    21.0
20  OKC    36.0    20.0
21  ORL    32.0    20.0
22  PHI    32.0    21.0
23  PHO    34.0    19.0
24  POR    28.0    21.0
25  SAC    36.0    19.0
26  SAS    39.0    20.0
27  TOR    31.0    21.0
28  UTA    35.0    21.0
29  WAS    32.0    21.0

In [8]:
# Get oldest player name from each team
team_oldest = []
for i in range(len(team_max_min_age)):
    team_oldest.append(df.loc[(df["Age"]==team_max_min_age["MaxAge"].values[i]) & 
                              (df["Tm"]==team_max_min_age["Tm"].values[i]),
                              "Player"].values[0])
    
# Get youngest player name from each team
team_youngest = []
for i in range(len(team_max_min_age)):
    team_youngest.append(df.loc[(df["Age"]==team_max_min_age["MinAge"].values[i]) & 
                              (df["Tm"]==team_max_min_age["Tm"].values[i]),
                              "Player"].values[0])

In [9]:
# Assign it to the previous dataframe
team_max_min_age["Player Oldest"] = team_oldest
team_max_min_age["Player Youngest"] = team_youngest
team_max_min_age

     Tm  MaxAge  MinAge    Player Oldest          Player Youngest
0   ATL    36.0    22.0    Mike Dunleavy          DeAndre' Bembry
1   BOS    31.0    20.0     Gerald Green             Jaylen Brown
2   BRK    36.0    21.0       Luis Scola         Chris McCullough
3   CHI    35.0    21.0      Dwyane Wade             Bobby Portis
4   CHO    31.0    21.0    Brian Roberts           Christian Wood
5   CLE    38.0    21.0   Chris Andersen               Kay Felder
6   DAL    38.0    21.0    Dirk Nowitzki               Ben Bentil
7   DEN    36.0    19.0      Mike Miller             Jamal Murray
8   DET    34.0    20.0       Beno Udrih           Henry Ellenson
9   GSW    36.0    20.0      Matt Barnes             Kevon Looney
10  HOU    34.0    20.0     Nene Hilario           Chinanu Onuaku
11  IND    32.0    20.0     Aaron Brooks             Myles Turner
12  LAC    39.0    19.0      Paul Pierce            Diamond Stone
13  LAL    37.0    19.0      Metta World           Brandon Ingram
14  MEM    40.0    20.0     Vince Carter             Wade Baldwin
15  MIA    36.0    20.0    Udonis Haslem          Justise Winslow
16  MIL    39.0    19.0      Jason Terry               Thon Maker
17  MIN    34.0    20.0       John Lucas               Tyus Jones
18  NOP    33.0    20.0     Jarrett Jack            Cheick Diallo
19  NYK    32.0    21.0  Carmelo Anthony       Kristaps Porzingis
20  OKC    36.0    20.0    Nick Collison         Domantas Sabonis
21  ORL    32.0    20.0      C.J. Watson        Stephen Zimmerman
22  PHI    32.0    21.0   Tiago Splitter  Timothe Luwawu-Cabarrot
23  PHO    34.0    19.0  Leandro Barbosa            Dragan Bender
24  POR    28.0    21.0      Evan Turner              Noah Vonleh
25  SAC    36.0    19.0      Matt Barnes     Georgios Papagiannis
26  SAS    39.0    20.0    Manu Ginobili          Dejounte Murray
27  TOR    31.0    21.0      P.J. Tucker            Bruno Caboclo
28  UTA    35.0    21.0      Joe Johnson               Dante Exum
29  WAS    32.0    21.0    Marcin Gortat         Chris McCullough

## Which player has the most minutes played (MP) in each position (Pos)?

In [10]:
# Get max minutes player in each position
df_pos_max_mp = df.groupby('Pos')['MP'].agg(MaxMP=('Max MP', 'max')).reset_index()
df_pos_max_mp

  Pos   MaxMP
0   C  3030.0
1  PF  2803.0
2  PG  2947.0
3  SF  3048.0
4  SG  2796.0

In [11]:
# Get player name with max minutes in each position
pos_most_mp = []
for i in range(len(df_pos_max_mp)):
    pos_most_mp.append(df.loc[(df["MP"]==df_pos_max_mp["MaxMP"].values[i]) & 
                              (df["Pos"]==df_pos_max_mp["Pos"].values[i]),
                              "Player"].values[0])
pos_most_mp

['Karl-Anthony Towns',
 'Harrison Barnes',
 'James Harden',
 'Andrew Wiggins',
 'C.J. McCollum']

In [12]:
# Assign list to the dataframe
df_pos_max_mp["Player"] = pos_most_mp
df_pos_max_mp

  Pos   MaxMP              Player
0   C  3030.0  Karl-Anthony Towns
1  PF  2803.0     Harrison Barnes
2  PG  2947.0        James Harden
3  SF  3048.0      Andrew Wiggins
4  SG  2796.0       C.J. McCollum

These are the player names with the most Minutes Played. These players should have the most experience until 2017 NBA.

## Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [13]:
# Get metrics
metrics = ["TRB%","AST%","STL%","BLK%"]

In [14]:
# Function to find the team with best average metrics
def get_avg_metrics(metrics):
    var = df.groupby("Tm")[metrics].mean().reset_index().sort_values(metrics,ascending=False).values[0]
    print("Team with the highest",metrics,"is",var[0],"with",round(var[1],2),metrics)

In [15]:
# Find the team with the highest above metrics
for metric in metrics:
    get_avg_metrics(metric)

Team with the highest TRB% is WAS with 12.49 TRB%
Team with the highest AST% is DEN with 14.98 AST%
Team with the highest STL% is MIN with 2.26 STL%
Team with the highest BLK% is GSW with 2.62 BLK%

## Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

The Player Efficiency Rating (PER) is a per-minute rating developed by ESPN.com columnist John Hollinger. In John's words, "The PER sums up all a player's positive accomplishments, subtracts the negative accomplishments, and returns a per-minute rating of a player's performance." It appears from his books that John's database only goes back to the 1988-89 season.  

All calculations begin with what I am calling unadjusted PER (uPER). The formula is:

     uPER = (1 / MP) *
     [ 3P
     + (2/3) * AST
     + (2 - factor * (team_AST / team_FG)) * FG
     + (FT *0.5 * (1 + (1 - (team_AST / team_FG)) + (2/3) * (team_AST / team_FG)))
     - VOP * TOV
     - VOP * DRB% * (FGA - FG)
     - VOP * 0.44 * (0.44 + (0.56 * DRB%)) * (FTA - FT)
     + VOP * (1 - DRB%) * (TRB - ORB)
     + VOP * DRB% * ORB
     + VOP * STL
     + VOP * DRB% * BLK
     - PF * ((lg_FT / lg_PF) - 0.44 * (lg_FTA / lg_PF) * VOP) ]  

Most of the terms in the formula above should be clear, but let me define the less obvious ones:

    factor = (2 / 3) - (0.5 * (lg_AST / lg_FG)) / (2 * (lg_FG / lg_FT))
    VOP    = lg_PTS / (lg_FGA - lg_ORB + lg_TOV + 0.44 * lg_FTA)
    DRB%   = (lg_TRB - lg_ORB) / lg_TRB

The calcuation of uPER obviously depends on these statistics, so here are my solutions for years when the data are missing:

- Zero out three-point field goals, turnovers, blocked shots, and steals.
- Set the league value of possession (VOP) equal to 1.
- Set the defensive rebound percentage (DRB%) equal to 0.7.
- Set player offensive rebounds (ORB) equal to 0.3 * TRB.  

Some of these solutions may not be elegant, but I think they are reasonable. After uPER is calculated, an adjustment must be made for the team's pace. The pace adjustment is:

    pace adjustment = lg_Pace / team_Pace
    
League and team pace factors cannot be computed for seasons prior to 1973-74, so I estimate the above using:

    estimated pace adjustment = 2 * lg_PPG / (team_PPG + opp_PPG)

Now the pace adjustment is made to uPER (I will call this aPER):

    aPER = (pace adjustment) * uPER
The final step is to standardize aPER. First, calculate league average aPER (lg_aPER) using player minutes played as the weights. Then, do the following:

    PER = aPER * (15 / lg_aPER)

Link to PER formula explanation : https://www.basketball-reference.com/about/per.html

The PER formula itself is complex to calculate. It involves a lot of variables to get the estimated player efficiency. Therefore, This analysis would only use PER column.

In [16]:
# Get a player name and statuses with the highest PER
df[df["PER"]==df["PER"].max()][["Player","PER","G","PTS","MP"]]

             Player   PER    G  PTS   MP
460  Jarnell Stokes  31.5  2.0  3.0  7.0

According to the above output, Jamell Stokes has the highest PER. But, if we take a look at his PTS, and G columns, the value looks very low. I assume Jamell Stokes is a new player with great potentiality. Therefore, Let's take a look on how the top 10 players with the highest PER.

In [17]:
# Get top 10 player and statuses with the highest PER
df.sort_values('PER',ascending=False).head(10)[["Player","PER","G","PTS","MP"]]

                Player   PER     G     PTS      MP
460     Jarnell Stokes  31.5   2.0     3.0     7.0
242  Demetrius Jackson  30.8   5.0    10.0    17.0
509  Russell Westbrook  30.6  81.0  2558.0  2802.0
311   Boban Marjanovic  29.6  35.0   191.0   293.0
131       Kevin Durant  27.6  62.0  1555.0  2070.0
111      Anthony Davis  27.5  75.0  2099.0  2708.0
290      Kawhi Leonard  27.5  74.0  1888.0  2474.0
191       James Harden  27.3  81.0  2356.0  2947.0
245       LeBron James  27.0  74.0  1954.0  2794.0
471      Isaiah Thomas  26.5  76.0  2199.0  2569.0

After Jamell Stokes, Demetrius Jackson has the second highest PER. But, both of their G and PTS values looks very low. They need to participate more in NBA to make the PER value much more credible.  
If we take a look more at the data, Russell Westbrook gained the 3rd highest PER. Other than that, he gained a high PTS and G values, which is 2558 and 81 respectively.  
Therefore, according to this analysis, **Russell Westbrook** is the best player.

## Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice

For this Analysis, I would like to use TS%, FT%, eFG%, DRB%, and BLK% columns (For the column details, please take a look at the Glossary link at the top page of this notebook). These columns, in my opinion, are very important to know the measure of how every team scores or defense. For example eFG% is adjusting 3-point goal and 2-point goal point. For example, suppose Player A goes 4 for 10 with 2 threes, while Player B goes 5 for 10 with 0 threes. Each player would have 10 points from field goals, and thus would have the same effective field goal percentage (50%). Thus, these columns would be averaged for each player. And then, player's averaged score would be grouped by team to find the best team.

In [18]:
from sklearn.preprocessing import MinMaxScaler

#Create scaler object
scaler = MinMaxScaler()
metrics = ["TS%","FT%","eFG%","DRB%","BLK%"]

scaled_df = df.copy()
df[metrics]

       TS%    FT%   eFG%  DRB%  BLK%
0    0.560  0.898  0.531   7.1   0.6
1    0.355  0.667  0.324  15.2   0.0
2    0.587  0.754  0.542  18.2   2.2
3    0.589  0.611  0.571  15.5   2.6
4    0.559  0.892  0.514   8.4   0.4
..     ...    ...    ...   ...   ...
537  0.604  0.679  0.571  17.3   3.0
538  0.508  0.564  0.494  17.0   3.3
539  0.346  0.600  0.323  24.9   3.7
540  0.503  0.775  0.473  14.2   1.5
541  0.547  0.653  0.529  21.9   4.4

[542 rows x 5 columns]

In [19]:
# Rescale the values
scaled_df[metrics] = scaler.fit_transform(scaled_df[metrics])
scaled_df[metrics]

          TS%    FT%   eFG%   DRB%      BLK%
0    0.682927  0.898  0.531  0.071  0.029703
1    0.432927  0.667  0.324  0.152  0.000000
2    0.715854  0.754  0.542  0.182  0.108911
3    0.718293  0.611  0.571  0.155  0.128713
4    0.681707  0.892  0.514  0.084  0.019802
..        ...    ...    ...    ...       ...
537  0.736585  0.679  0.571  0.173  0.148515
538  0.619512  0.564  0.494  0.170  0.163366
539  0.421951  0.600  0.323  0.249  0.183168
540  0.613415  0.775  0.473  0.142  0.074257
541  0.667073  0.653  0.529  0.219  0.217822

[542 rows x 5 columns]

In [20]:
# Find average status
additional_metrics = metrics.copy()
additional_metrics.append("avgStat%")

scaled_df["avgStat%"] = scaled_df[metrics].mean(axis=1)
scaled_df[additional_metrics]

          TS%    FT%   eFG%   DRB%      BLK%  avgStat%
0    0.682927  0.898  0.531  0.071  0.029703  0.442526
1    0.432927  0.667  0.324  0.152  0.000000  0.315185
2    0.715854  0.754  0.542  0.182  0.108911  0.460553
3    0.718293  0.611  0.571  0.155  0.128713  0.436801
4    0.681707  0.892  0.514  0.084  0.019802  0.438302
..        ...    ...    ...    ...       ...       ...
537  0.736585  0.679  0.571  0.173  0.148515  0.461620
538  0.619512  0.564  0.494  0.170  0.163366  0.402176
539  0.421951  0.600  0.323  0.249  0.183168  0.355424
540  0.613415  0.775  0.473  0.142  0.074257  0.415534
541  0.667073  0.653  0.529  0.219  0.217822  0.457179

[542 rows x 6 columns]

In [21]:
# Sort team names by the highest average status
scaled_df.groupby("Tm")["avgStat%"].mean().reset_index().sort_values("avgStat%",ascending=False)

     Tm  avgStat%
7   DEN  0.451217
26  SAS  0.447262
9   GSW  0.439622
12  LAC  0.436720
28  UTA  0.434962
25  SAC  0.434174
5   CLE  0.433945
22  PHI  0.433834
1   BOS  0.432812
27  TOR  0.430471
18  NOP  0.428207
10  HOU  0.428160
2   BRK  0.425990
24  POR  0.424468
19  NYK  0.421455
11  IND  0.420283
13  LAL  0.417596
14  MEM  0.416910
4   CHO  0.416398
16  MIL  0.413557
15  MIA  0.411405
29  WAS  0.411290
17  MIN  0.411017
8   DET  0.409983
23  PHO  0.409026
20  OKC  0.408116
0   ATL  0.406484
21  ORL  0.404606
6   DAL  0.399909
3   CHI  0.399107

It looks like DEN team has the highest average total stats based on the average of TS%, FT%, eFG%, DRB%, and BLK% columns of each player. Therefore, they're the best team in NBA.